[h1]Dota 2 Workshop - Item Model Requirements[/h1]

[img]http://cdn.dota2.com/apps/dota2/images/workshop/guidelines/models/disruptor_mount_model.JPG[/img]

[list]

[*][url=#modeltypes]DOTA 2 WORKSHOP MODEL TYPES[/url] [/*]
[*][url=#budgets]BUDGETS[/url] [/*]
[*][url=#formats]MODEL FILE FORMATS[/url] [/*]
[*][url=#lod]LOD (LEVEL OF DETAIL) GEOMETRY[/url] [/*]
[*][url=#dimensions]DIMENSIONS[/url] [/*]
[*][url=#polygons]POLYGONS[/url] [/*]
[*][url=#basemodel]BASE MODEL INTERACTION[/url] [/*]
[*][url=#iteminteraction]INTERACTION WITH OTHER HERO WEARABLE ITEMS[/url] [/*]
[*][url=#geoanimations]MESH WEIGHTING[/url] [/*]
[*][url=#decompiled]DECOMPILED MODELS[/url] [/*]
[*][url=#blendshapes]BLEND SHAPES[/url] [/*]
[*][url=#edgesvertices]EDGES AND VERTICES[/url] [/*]
[*][url=#skeleton]SKELETON[/url] [/*]
[*][url=#backfaces]BACKFACES[/url] [/*]
[*][url=#hitboxattach]HITBOXES AND ATTACHMENTS[/url] [/*]
[*][url=https://support.steampowered.com/kb_article.php?ref=5872-QKZN-1281#refmodel]ITEM TROUBLESHOOTING[/url] [/*]
[*][url=#artuv]ART AND UV GUIDELINE LINKS[/url] [/*]
[*][url=#tutorial]MODELING TUTORIAL AND SOFTWARE LINKS[/url] [/*]

[/list]

[h1][url id=modeltypes][/url][/h1][h1]DOTA 2 WORKSHOP MODEL TYPES[/h1]This page is applies to all Dota workshop model types. You can find additional item-specific model requirements on these pages:

[list]

[*][url=https://support.steampowered.com/kb_article.php?ref=5485-ERGH-9687]Hero Wearables[/url] [/*]
[*][url=https://support.steampowered.com/kb/7823-RUAZ-5739/dota-2-workshop-ability-models-summoned-units]Ability Models[/url] [/*]
[*][url=https://support.steampowered.com/kb/8986-WRAZ-1046/dota-2-workshop-couriers]Couriers[/url] [/*]
[*][url=https://support.steampowered.com/kb/8799-WLXN-3860/dota-2-workshop-wards]Sentry/Observer Wards[/url] [/*]

[/list]

[url id=budgets][/url]

[h2]BUDGETS[/h2]

[list]

[*]Due to unique design of every hero, each one has different geometry and texture budgets for his or her items. [/*]
[*]Model budgets always refer to triangles, not polygons. [/*]
[*]Be sure to check the individual hero pages accessible from the [url=http://www.dota2.com/workshop/requirements]Hero Resource page[/url] for specific information on item budgets. [/*]
[*]Wards, couriers, and ability models can have no more than 60 bones. Undying's Flesh Golem, which has to use Valve's default skeleton, has an exception to use 62 bones. [/*]
[*]Most hero wearables can use no more than 60 bones from the hero's default skeleton. The exception is Winter Wyvern's back slot because the hero has a large number of bones and this item covers most of the body. [/*]

[/list]

[url id=formats][/url]

[h2]MODEL FILE FORMATS[/h2]

[list]

[*]We no longer support .SMD files for workshop submissions. Model and animation files submitted through the workshop tool will need to be either .FBX or .DMX.  [/*]
[*]Some third party modeling software has issues importing our reference FBX files, which may display with incorrect joint rotations. Until the developers of these packages are able to update their FBX plugins you may need to try using other software to author your items. [/*]

[/list]

[url id=lod][/url]

[h2]LOD (LEVEL OF DETAIL) GEOMETRY[/h2]

[list]

[*]Each item can have two models with different levels of detail.  [/*]
[*]The optional, higher resolution LOD0 model is used in the portrait, loadout and in-game close up showcase views.  [/*]
[*]The required lower resolution LOD1 model is used for normal top-down in-game viewing. [/*]
[*]When testing your item in the workshop tool, you can switch between LOD0 and LOD1. [/*]
[*]LOD0 can sometimes be twice as detailed as LOD1, depending on the hero, item, and overall budget.  [/*]
[*]Some Valve artists create LOD0 first, then create LOD1 from this by optimizing and removing small details. Other Valve artists author LOD1 first, then build on this to add details for the LOD0 version. [/*]
[*]If LOD0 geometry is not provided, the LOD1 geometry will be used for all situations including close-up views. [/*]

[/list]

[url id=dimensions][/url]

[h2]DIMENSIONS[/h2]

[list]

[*]If you decide to make items of very different dimensions from the hero's default items, bear in mind that the hero's selection area will not grow or shrink to fit custom items.  [/*]
[*]We're open to looking at item designs that push the boundaries but be aware that extreme deviation from the default item size or silhouette may cause problems identifying the hero in-game. If you decide to try a profoundly different silhouette for some items, you may need to bring colors or other items closer to what's recognizable for the hero to compensate for this. Our [url=https://support.steampowered.com/kb_article.php?ref=9334-YDXV-8590]Character Art guide[/url] has more information about achieving this balance. [/*]
[*]Be careful if your mesh drastically differs from the default hero skeleton in an area that has highly active joints, such as wings. If your mesh distorts too much during animations you may have to revise the mesh to more closely follow the skeleton. [/*]

[/list]

[url id=polygons][/url]

[h2]POLYGONS[/h2]
[img]http://cdn.dota2.com/apps/dota2/images/workshop/guidelines/models/13_art_uv_alchemist.jpg[/img]

[list]

[*]Like [url=https://support.steampowered.com/kb_article.php?ref=9334-YDXV-8590#gradient]textures[/url], geometry typically has a gradient, with the lowest amount of polygons being used around the feet/lower torso and highest density around the head and upper torso. [/*]
[*]Make every triangle count. A polygon should either be contributing to the silhouette and/or helping deformations.  [/*]
[*]In situations where the texture resolution doesn't support clean edges on prominent areas of an item, for example, the edge of a mane or saddle on a mount, you may want to create these edges with geometry instead of with the texture. It helps to consider needs like this that are affected by your item budget early in your concept phase. [/*]
[*]Polygons are also added in cases where the normal map isn't projecting properly due to lack of geometry. [/*]
[*]Avoid creating long triangles as they tend to cause shading errors, especially during animations. [/*]
[*]It is helpful if you triangulate your model before submission to confirm that the final mesh is what you intend. If you don't, our tools will triangulate the mesh but the results may look different from what you authored. [/*]

[/list]

[url id=basemodel][/url]

[h2]BASE MODEL INTERACTION[/h2]

[list]

[*]Most hero items are created on top of the geometry of the bare hero. For example, the geometry of a hero's forearms is not removed; his or her bracers sit on top of it. [/*]
[*]Only if a body part is designated as an item slot - such as Pudge and Tusk's left arm or Faceless Void's head - can it be totally replaced by a custom item.  [/*]

[/list]

[url id=iteminteraction][/url]

[h2]INTERACTION WITH OTHER HERO WEARABLE ITEMS[/h2]

[list]

[*]Use "Select Wearables" in the Preview Model window of the item workshop tool to test how your hero wearable items interact with each other and with the hero's existing items during idle, loadout, portrait, and other important animations. You can save your wearable selections in the workshop session for the main item. [/*]
[*]Since people are likely to equip Arcana or Immortal items if they have them, it's important to test your items in conjunction with these models. You won't see the texture or particle effects for these items when in item workshop demo mode but you will see how the models work together. [/*]
[*]Extreme intersections not noticeable in the top down game view may be distracting in portrait or loadout views. [/*]

[/list]

[url id=geoanimations][/url]

[h2]MESH WEIGHTING [/h2]

[list]

[*]Check the weighting of your item geometry with various hero animations rather than just the bind pose:

[list]

[*]   Animations with extreme poses, such as attacks or casts [/*]
[*]   Animations seen in close-up, such as portraits and loadouts [/*]
[*]   Frequently displayed animations, such as idles and runs  [/*]

[/list]
[/*]
[*]Look for extremely distorted mesh, disconnected edges, or stray vertices accidentally weighted to the wrong joints.  [/*]
[*]Check LOD0 and LOD1 mesh weighting in loadout and in game [/*]
[*]You may need to add more faces or do more refined weighting to areas that are subjected to extreme movements or that are seen prominently in portraits or loadouts. [/*]
[*]The [url=http://www.dota2.com/workshop/requirements]Hero Resource[/url] page for each hero will indicate the specific bones that weapons need to be weighted to. [/*]
[*]Weighting to Valve's Source 2 cloth bones has to be done very carefully. Try copying the weighting from Valve's reference model to your model to ensure the best cloth behavior. [/*]

[/list]

[url id=decompiled][/url]

[h2]DECOMPILED MODELS[/h2]

[list]

[*]Please don't model your items to fit decompiled hero models. Game compile processes may add scaling or poses to these models that are not representative of the geometry that custom items need to fit.  [/*]
[*]We will be updating existing workshop reference files and adding files for new workshop heroes on a gradual, ongoing basis. If we haven't yet updated the reference files for the hero you're working on, our Source 1 reference files are still usable for item creation. [/*]

[/list]

[url id=blendshapes][/url]

[h2]BLEND SHAPES[/h2]

[list]

[*]The Dota Item Workshop does not support submission of blend shapes, also known as flex or morphs, within models.  [/*]
[*]If you submit an item that needs facial blend shapes, Valve artists will create these so the meshes will move when the hero speaks. [/*]

[/list]

[url id=edgesvertices][/url]

[h2]EDGES AND VERTICES[/h2]

[list]

[*]Our game is only able to support the skinning of 4 vertices per joint. Skinning to additional vertices will be removed or will cause a failure when community items go through our workshop compiler. [/*]
[*]Hard edges and smoothing groups are OK to use, but are best kept to a minimum, as they break up the vertices and add to an item's vertex count.  [/*]

[/list]

[url id=skeleton][/url]

[h2]SKELETON[/h2]

[list]

[*]Your item's geometry should be skin-weighted to the default hero skeleton in the model file provided by Valve. You can download these reference files on the individual hero pages accessible from the [url=http://www.dota2.com/workshop/requirements]Hero Resource page[/url] . [/*]
[*]We are unable to ship hero items, including mounts, that require the joints of the hero or mount to be positioned differently from the default skeleton.  [/*]
[*]All hero items need to work with the default hero animations. This is how they will be evaluated by Valve. [/*]
[*]External artists are not able to add bones to community items for heroes. [/*]
[*]If you move the joints in your item's model file to test mesh deformations, be sure to export your item from a single frame where the joints are in the hero's bind pose. [/*]
[*]When creating new skeletons for custom wards, couriers, or ability models, please avoid duplicate bone names or spaces in bone names. These can cause unwanted model deformations or compile failures in Source 2. [/*]
[*]If you add nodes to your custom skeleton that have keys on them, even if they have no animation, the nodes may be converted to bones by the workshop tool and could fail your submission if the item goes over the 60 bone limit. [/*]
[*]When using Valve's skeleton for an item, if you see a 'missing bones' error when compiling your model in the workshop tool or the mesh is totally disconnected from the skeleton, see if the joint names had gotten accidentally renamed during import or if you added a rig. [/*]
[*]If you are submitting an ability model with a custom skeleton and custom animations, be sure to mark the 'Model Uses a Custom Skeleton' checkbox to ensure that Valve's default animations for that item type are not accidentally applied to your skeleton. [/*]

[/list]

[img]http://cdn.dota2.com/apps/dota2/images/workshop/guidelines/models/custom_model_checkbox.jpg?[/img]​

[url id=backfaces][/url]

[h2]BACKFACES[/h2]

[list]

[*]Please note that Dota 2 does not support double-sided materials; you will need to create additional geometry if a backface is needed.  [/*]
[*]Bear in mind that missing backfaces of geometry that are not noticeable in top down game view may be obviously missing in portrait, loadout, or showcase views, so you may want to provide these faces for your LOD 0 models. [/*]
[*]Missing backfaces for undersides of capes, scarves, and wings are particularly noticeable in the loadout. [/*]

[/list]
[h1][url id=hitboxattach][/url][/h1][h1]​HITBOXES AND ATTACHMENTS[/h1]

[list]

[*]External artists do not need to create hitboxes for couriers, wards or ability models. These will be created by Valve. [/*]
[*]Where necessary, attachments are designated and edited within the item workshop tool. More details are on the [url=https://support.steampowered.com/kb_article.php?ref=2858-RTHJ-5696]Item Submission[/url] page. [/*]

[/list]

​[url id=troubleshooting][/url]

[h1]ITEM TROUBLESHOOTING[/h1]

[list]

[*]If you have problems compiling, testing or submitting your model, see our [url=https://support.steampowered.com/kb_article.php?ref=5872-QKZN-1281#refmodel]Item Troubleshooting[/url] checklist. [/*]

[/list]

​[url id=artuv][/url]

[h2]ART AND UV GUIDELINE LINKS[/h2]

[list]

[*]For design-related model guidelines, please see the [url=https://support.steampowered.com/kb/9334-YDXV-8590/dota-2-workshop-character-art-guide]Character Art Guide[/url] [/*]
[*]For guidelines about model UVs, please see [url=https://support.steampowered.com/kb/8687-AGJK-8415/dota-2-workshop-item-uv-mapping]Item UV Mapping[/url] [/*]

[/list]

​[url id=tutorial][/url]

[h2]MODELING TUTORIAL AND SOFTWARE LINKS[/h2]

[list]

[*][url=https://support.steampowered.com/kb/5538-WPZC-9529/dota-2-workshop-item-faq#tutorials]Modeling Tutorial Links[/url] [/*]
[*][url=https://support.steampowered.com/kb/5538-WPZC-9529/dota-2-workshop-item-faq#software]Modeling Software Links[/url] [/*]

[/list]

[url=http://www.dota2.com/workshop/]Dota 2 Item Workshop Guidelines Homepage[/url]
